.button{
    margin: 10px;
    border-radius: 10px;
}
p{
    font-size: large;
    font-weight: 900;
    color: aliceblue;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
}